section.contact__page 
    .contact__page--info 
        div 
            h1 Get your free consultation now!
            p Small or big, your business will love our financial help and business consultations! We are happy when our clients are too…
        div
            div.contact__page--number
                h3(style="font-weight: 400;") New York, 4456 Parker Rd. Allentown,<br>New Mexico 4567
                div.number
                    p +1(505) 556-9999
                    span(style="color:#EA25C2;") namecompany@example.com
    .contact__page--send 
        div 
            button FREE CONSULTATION 
        div 
            h1 Sign me up!
            p Actually, this is quite simple to achieve – because each time we help them in sorting out different accounting intricacies or save the day before filing the taxes, they are happy indeed.
            div 
                input(type="text" placeholder="Enter a valid email address")
                button SUBMIT