section.expert__page
    p Experience
    .expert__page--cart
        each cart in [1,1,1,1,1,1]
            .cart 
                h1 2017
                p Sample text. Click to select the<br> Text Element.