section.fifth 
    .fifth__content 
        h4 Skills
        h1 UI/UX design, Application design, UX research, Visual communication, Prototyping Headline
        .fig 
            each prog in [1,1,1,1]
                div 
                    img(src="https://images01.nicepagecdn.com/a1389d7bc73adea1e1c1fb7e/8ae774c2af6e5989930e573d/5968705.png", alt="")