section.third
    .third__desc 
        p My projects
        h1 I'm designed dozens of appealing interfaces for websites and web apps. Take a look at my projects below.
        div 
            each btn in [1,1] 
                button Behance
    .third__cart 
        each item in [1,1,1,1,1,1]
            .item 
                img(src="https://images01.nicepagecdn.com/thumbs/a1389d7bc73adea1e1c1fb7e/f0df7c5c1c8f54ffa0f8cddf/color-logo-1_150.png", alt="")

    